html
  head
    link(rel='stylesheet', href='/css/all.min.css')
    link(rel='icon', href='/favicon.ico')
    link(rel='shortcut icon', href='/favicon.ico')
    title Bookmarks
  body
    script(language='javascript', src='/js/all.min.js')
    #area.area
      #header.header
        a(href='/') Bookmarks
      .hline
      .enclosing
      #content.content
        block content
    #footer.footer
      | (c) 2013 by Daniel Strittmatter
    .overlay.hidden
      .centerbox
