!!!
html
  head
    link(rel='stylesheet', href='/css/assets.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', type="image/png", href='/favicon.png')
    link(rel='shortcut icon', type="image/png", href='/favicon.png')
    title Bookmarks
  body
    #area.area
      #header.header
        a(href='/') Bookmarks
      .hline
      .enclosing
      #content.content
        block content
    #footer.footer
      | (c) 2013 by Daniel Strittmatter
    .overlay.hidden
      .centerbox
