extends layout

block content
  script(src="/js/overview.js", async)
  include partial_userpane
  include partial_searchbar
  include partial_sidebar

  #list-newest
    - var bookmarks = user.newest
    include partial_newest

  #lists
    each list in user.lists
      include partial_list
  #addlist.button Add a new list
