#sharing
	.list(id="list-#{list._id}")
		h2 #{list.title}
		#users.users
			for user in list.users
				include partial_sharing_user
		#adduser.button Add new user
		#adduser_form.hidden
			#add_friends.add_friends
				for friend in friends
					include partial_sharing_friend
			#add_new_friend.add_new_friend
				label(for='email') Email
				input(id='email', name='email', type='text')
