// Colors
$body-back-color: #f2f2f2;
$area-back-color: #f8f8f8;
$content-back-color: rgba(200,200,200,0.1);
$list-back-color: rgba(200,200,200,0.2);
$main-font-color: #5d5d5d;
$link-color: #761D1D;
$link-hover-color: #BB5151;
$link-hover-color2: #BB906D;
$bookmark-color: #124747;
$bookmark-hover-color: #761D1D;
$shadow-color: #5d5d5d;
$search-back-color: #b3d7f1;
$search-border-color: $link-color;
$search-shadow-color: rgba(118,29,29,0.6);
$sidebar-border-color: #e5e5e5;
$darkred: #4D0909;
$black: #000000;
$red: #ff0000;

// Basic elements
body {
	font-family: "PT Serif", Georgia, sans-serif;
	font-size:  1.1em;
	background: $body-back-color;
	color: $main-font-color;
	overflow: scroll;
	text-rendering: optimizelegibility;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
	}
}

h1, h2, h3, h4 {
	color: $bookmark-color;
}

// Area
.area {
	background: $area-back-color url('/images/noise.png');
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 800px;
	box-shadow: 0px 0px 1px 0px $shadow-color;
}

// Content
.content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 50px;
}

// Header
.header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 35px;
	text-align: center;
	font-size: 52px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 80px;
	padding-bottom: 30px;
	color: $link-color;
}

// Footer
.footer {
	text-align: center;
	font-size: small;
	padding: 20px;
	color: $link-color;
}

// User pane
.userpane ul {
	margin: 0 0 30px 0;
	padding: 10px;
	background: $content-back-color;
	box-shadow: 0px 0px 1px 0px $shadow-color;

	li {
		display: inline;
	}
}

// Search bar
#searchbar {
	margin-bottom: 30px;

	input {
		width: 98%;
	}
}

input[type=search],
input[type=text],
input[type=password] {
	&:focus {
		border-color: $search-border-color !important;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px $search-shadow-color !important;
	}
}

// List
.list {
	background: $content-back-color;
	padding: 30px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 1px 0px $shadow-color;

	.list_header {
		background: $list-back-color;
		padding-left: 20px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;

		.list_header_table {
			width: 100%;
		}
	}

	.title {
		display: inline;
		color: $link-color;
		font-size: 1.7em;
		font-weight: bold;

		&.selected {
			color: $link-hover-color;
		}
	}
	.actions {
		color: #761D1D;
		font-weight: bold;
		text-align: right;
		padding-left: 20px;
		padding-right: 10px;

		a {
			&:hover {
				text-decoration: none;
				color: $link-hover-color;
			}
		}

		div {
			cursor: pointer;
			&.selected {
				color: $link-hover-color;
			}
		}
		.delete {
			color: $link-hover-color;

			div.selected {
				color: $link-hover-color2;
			}
		}
	}
	.bookmarks {
		padding: 20px;
		margin-left: 10px;
		clear: both;
		margin-top: 30px;

		ul {
			list-style: none;

			li {
				font-size: 1.2em;
				padding: 10px;
				margin-left: -20px;

        &.selected {
          background-color: $area-back-color;
          border-radius: 5px;
        }

				a {
					color: $bookmark-color;

					&.selected {
						color :$bookmark-hover-color;
					}
				}
				.edit_bookmark {
					display: inline;
					font-size: 0.8em;
					font-weight: bold;
					margin-right: 10px;

					&.selected {
						color: $link-hover-color;
					}
				}
				.delete_bookmark {
					display: inline;
				}
				.link input {
					color: black !important;
					width: 80%;
					font-size: 0.8em !important;
				}
				.tags ul {
					margin: 3px 0 0 0;

					li {
						display: inline;
						font-size: 12px;
						margin-left: 0;
					}
				}
				.timestamp {
					font-size: 12px;
					margin-left: 5px;
					padding: 2px;
				}
			}
		}
	}
}

// Button
.button {
	font-size: 1.0em;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	background: $list-back-color;
	cursor: pointer;

	&.selected {
		color: $darkred;
		background: $link-hover-color;
	}
}

// Side bar

.sidebar {
	display: none;
	position: fixed;
	width: 250px;
	margin: 30px 0 0;
	padding: 0;
	border-radius: 6px;
	background: rgba(255,255,255,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);

	ul {
		padding-left: 0;
		padding-right: 0;
		li {
			a {
				border: 1px solid $sidebar-border-color;
				padding: 8px 14px;
				margin: 0 0 -1px;
			}
			&.active {
				a {
					background-color: $link-color;
					&:hover {
						background-color: $link-color;
					}
				}
			}
		}
	}
// 	background: $area-back-color url('/images/noise.png');
// 	padding: 0px 20px;
// 	box-shadow: 0px 0px 1px 0px $shadow-color;

// 	ul {
// 		list-style: none;
// 		margin-left: -45px;

// 		li {
// 			padding: 2px;
// 			cursor: pointer;
// 			color: $link-color;

// 			&.selected {
// 				color: $link-hover-color;
// 			}
// 			&#hideSidebar,
// 			&#showSidebar {
// 				color: black;
// 			}
// 		}
// 	}
}

// Overlay
.overlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	background: $black;
	z-index: 100;
	opacity: 0.95;
	padding: 100px 200px;
}

.centerbox {
	background: $area-back-color;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;

	.users {
		.username {
			display: inline;
		}
		.delete {
			display: inline;
			float: right;
			width: 50px;
			text-align: right;
			cursor: pointer;
		}
	}
}

.user {
	padding: 10px;

	&.selected {
		color: $darkred;
		background: $link-hover-color;
	}
}

.add_new_friend {
	margin-top: 30px;
}

#adduser_form {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#adduser_form label {
	display: inline;
}

// Input fields
input[type="text"],
input[type="password"] {
	height: 30px !important;
	width: 90%;
}

input[type="submit"] {
	display: block;
	width: 100px	;
}

// Register page
#register {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

// No lists warning
#nolists {
  margin-bottom: 40px;
}


// Forms
.form {
	background: $content-back-color;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding: 20px;
	border-radius: 10px;
}

// Status elements (ok, fail)
.status {
	display: inline;
	padding-left: 5px;

	&.fail {
		color: $red;
	}
}

// Token management
.token {
	.key,
	.delete {
		display: inline;
		margin-left: 10px;
	}
	.delete {
		float: right;
		cursor: pointer;
		color: $link-color;

		&.selected {
			color: $link-hover-color;
		}
	}
	.qr {
		width: 200px;
		height: 200px;
		padding: 20px;
	}
}

// Helpers
.hidden {
	display: none !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.padding {
	padding: 10px;
}

.hline {
	display: none;
	margin: 60px 80px;
	border: 1px solid $link-color;
}
